.Rproj.user
.Rhistory
.RData
.Ruserdata
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/pepperQuery.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/rGraphicsSettings.xml
/.idea/rSettings.xml
/.idea/vcs.xml
